.jumbotron{
  background-color:rgba(0, 255, 85, 0.444);
 
color: black;
margin-top: 30px;
margin-bottom: 0px;

}
.titNivel1 {
    color: rgb(228, 56, 113);
border-radius: 0px;
  }
.paquetes {
    flex: 1 250px;  
    background-color: rgb(249, 253, 185,0.4);
   /* padding:2px 0px;*/
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 0px;
  }
.btn{
    background-color:rgba(0, 255, 85, 0.548);
    color: #444444;
}
.btn-mas{
  width: 100%;
color: black;
border-radius: 0px;

}
.btn-mas:hover{
  background-color:rgb(228, 56, 113,0.4);;
  color: black;
}
.footer{
padding: 10px 20px 0px 20px;
background-color: rgba(0, 255, 85, 0.444);;
margin-bottom: 0px;
margin-top: 10px;
}
.footer a{
  color: rgb(228, 56, 113);
  text-decoration: underline;
}
 
.footer-addresss-icon{
  padding-right: 10px;
}
.space-icon{
  padding-right: 5px;
}
.tab-content{
  padding-top: 10px;
}