$green: #88f7bc;
$red: #e43871;
$yellow:rgba(249, 253, 185,0.4);
/*las #88f7bc variables en sass inician con $*/

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin color($color, $borderR){
    color: $color;
    border-radius: $borderR;
}

.jumbotron{
    /*background-color:rgba(0, 255, 85, 0.444);*/
    background-color:$green;
    opacity: 0.8;
  color: black;
  /*margin-top: 30px;
  margin-bottom: 0px;*/
  @include margenes(30px, 0px);
  }
  .titNivel1 {
    @include color($red, 0px);
    }
  .paquetes {
      flex: 1 250px;  
      background-color:$yellow;
     /* padding:2px 0px;*/
      margin-top: 10px;
      margin-right: 10px;
      border-radius: 0px;
    }
  .btn{
      background-color:rgba(0, 255, 85, 0.5);
      color: #444444;
  }
  .btn-mas{
    width: 100%;
  @include color(black,0px );
  
  }
  .btn-mas:hover{
    background-color:rgba(228, 56, 113, 0.4);
    color: black;
  }
  .footer{
  padding: 10px 20px 0px 20px;
  background-color: $green;
  opacity: 0.8;
 /* margin-bottom: 0px;
  margin-top: 10px;*/
  @include margenes(10px, 0px);
  
  }
  .footer a{
    color: $red;
    text-decoration: underline;
  }
   
  .footer-addresss-icon{
    padding-right: 10px;
  }
  .space-icon{
    padding-right: 5px;
  }
  .tab-content{
    padding-top: 10px;
  }