@green: #88f7bc; /*las variables en sass inician con @*/

/*mixin*/
/* se puede colocar valor por defecto. ej: @top:0px */
.margenes(@top:0px, @bottom:0px){
    margin-top: @top;
    margin-bottom: @bottom;
}
.color(@color:black, @borderR:0px){
    color: @color;
    border-radius: @borderR;
}
.jumbotron {
    /*background-color:rgba(0, 255, 85, 0.444);*/
    background-color:@green;
    opacity: 0.8;
    color: black;
    .margenes(30px, 0px);} 

  .titNivel1 { 
      /*el segundo parametro se usaria el por defecto*/
    .color(#e43871);
}
  
  .paquetes {
    flex: 1 250px;
    background-color: rgba(249, 253, 185, 0.4);
    /* padding:2px 0px;*/
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 0px; }
  
  .btn {
    background-color: rgba(0, 255, 85, 0.5);
    color: #444444; }
  
  .btn-mas {
    width: 100%;
    .color(black, 0px);
}
  
  .btn-mas:hover {
    background-color: rgba(228, 56, 113, 0.4);
    color: black; }
  
  .footer {
    padding: 10px 20px 0px 20px;
    background-color:@green;
    opacity: 0.8;
    .margenes(10px, 0px);    
 }
  
  .footer a {
    color: #e43871;
    text-decoration: underline; }
  
  .footer-addresss-icon {
    padding-right: 10px; }
  
  .space-icon {
    padding-right: 5px; }
  
  .tab-content {
    padding-top: 10px; }
  