/*las variables en sass inician con @*/
/*mixin*/
/* se puede colocar valor por defecto. ej: @top:0px */
.jumbotron {
  /*background-color:rgba(0, 255, 85, 0.444);*/
  background-color: #88f7bc;
  opacity: 0.8;
  color: black;
  margin-top: 30px;
  margin-bottom: 0px;
}
.titNivel1 {
  /*el segundo parametro se usaria el por defecto*/
  color: #e43871;
  border-radius: 0px;
}
.paquetes {
  flex: 1 250px;
  background-color: rgba(249, 253, 185, 0.4);
  /* padding:2px 0px;*/
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 0px;
}
.btn {
  background-color: rgba(0, 255, 85, 0.5);
  color: #444444;
}
.btn-mas {
  width: 100%;
  color: black;
  border-radius: 0px;
}
.btn-mas:hover {
  background-color: rgba(228, 56, 113, 0.4);
  color: black;
}
.footer {
  padding: 10px 20px 0px 20px;
  background-color: #88f7bc;
  opacity: 0.8;
  margin-top: 10px;
  margin-bottom: 0px;
}
.footer a {
  color: #e43871;
  text-decoration: underline;
}
.footer-addresss-icon {
  padding-right: 10px;
}
.space-icon {
  padding-right: 5px;
}
.tab-content {
  padding-top: 10px;
}
