.jumbotron{
  background-color:rgba(0, 255, 85, 0.444);
color: black;
margin-top: 40px;

}
.titNivel1 {
    color: rgb(228, 56, 113);

  }
.paquetes {
    flex: 1 250px;  
    background-color: rgb(249, 253, 185,0.4);
    padding:4px 10px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 8px;
  }
.btn{
    background-color:rgba(0, 255, 85, 0.644);
}
.btn-mas{
  width: 100%;
color: black;

}
.btn-mas:hover{
  background-color:rgb(228, 56, 113,0.4);;
  color: black;
}
.footer{
padding: 10px 20px 0px 20px;
background-color: rgba(0, 255, 85, 0.444);;
margin-bottom: 0px;
margin-top: 10px;
}
.footer a{
  color: rgb(228, 56, 113);
  text-decoration: underline;
}
 