.jumbotron{
background-color: rgb(0, 255, 85);
color: black;

}
.titNivel1 {
    color: rgb(95, 55, 206);

  }

.btn{
    background-color:tomato;

}
.footer{
padding: 10px 10px 0 10px;
background-color: rgb(0, 255, 85);
margin-bottom: 0px;
margin-top: 10px;
}
.destacados {
    flex: 1 250px;
    background-color: azure;
    padding:2px 5px;
  }